@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fas_content {
    background: #fff;
    width: 100vw;
    height: 6rem;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
}

.fas_content img {
    /*상단 헤더 로고*/
    width: 14.8rem;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.fas_content .nav {
    float: right;
}

.fas_content .nav li {
    float: left;
    display: block;
    width: 13rem;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 1.8rem;
    transition: all 0.3s;
}

.fas_content .nav li:hover {
    color: #296dfe;
}

.nav_bar {
    position: absolute;
    top: 50%;
    width: 1px;
    height: 1.3rem;
    margin-top: -0.7rem;
    margin-left: 13rem;
    background: #d8d8d8;
    content: '';
}

.top_menu_on {
    color: #296dfe;
}

section {
    display: flex;
}

.side_nav {
    width: 10rem;
    height: 100vh;
    display: block;
    background-color: #2a3a4a;
    z-index: 2;
}

.menu_on {
    background-color: #0277bd;
    color: #fff !important;
}

.side_nav li {
    width: 10rem;
    height: 10rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.side_slide_body {
    width: 35rem;
    background-color: #0277bd;
}

#left_slide {
    width: 37rem;
    display: flex;
    z-index: 2;
}

.left_slide_body {
    width: 35rem;
    border-right: 1px solid #000;
    position: relative;
}

.slide_btn {
    position: relative;
    height: 120px;
    width: 24px;
    margin-left: -1px;
    top: 40%;
}

.side_nav_open {
    left: 99px;
    width: 24px;
    overflow: hidden;
    height: 120px;
    background: url(../assets/lnb_open.png) no-repeat center top;
    line-height: 9999px;
    cursor: pointer;
    display: none;
    z-index: 2;
    position: absolute;
    transition: all 0.3s;
    top: 40%;
    margin-top: 60px;
}



.side_body_top {
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
}

.side_body_top h2 {
    padding: 1.2rem 1.2rem 1.2rem 2rem;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.side_body_main {
    height: calc(100vh - 16.7rem);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

.img_on {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: block;
}

.img_off {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: none;
}

.que {
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 1.8rem;
    width: 31rem;
    height: 4rem;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    line-height: 4rem;
    cursor: pointer;
    background-color: #fff;
}

.anw {
    margin: 0 auto;
    width: 31rem;
    padding: 1rem;
    height: 24rem;
    display: block;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    padding-left: 2rem;
    overflow-x: hidden;
    position: relative;

}

.sub_que {
    border: 1px solid #ccc;
    width: 265px;
    height: 34px;
    background-color: #e1e2e3;
    padding: 0 0 0 9px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.sub_anw {
    width: 265px;
    padding: 0 0 0 9px;
    font-size: 13px;
    margin-top: 10px;
    display: none;
}

.setTimeText {
    display: inline-block;
    color: #000;
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.setTimeDateInput {
    width: 190px;
    border: 1px solid #b7b3b3;
    height: 3rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.setTimeDataSelect {
    width: 73px;
    height: 3rem;
    text-align: center;
    border: 1px solid #b7b3b3;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.setTimebtn {
    width: 263px;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #0277bd;
    border-radius: 5px;
    background-color: #0277bd;
    cursor: pointer;
    margin-bottom: 2rem;
    height: 3.6rem;
}

.que2 {
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 1.8rem;
    width: 31rem;
    height: 4rem;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    line-height: 4rem;
    cursor: pointer;
    background-color: #fff;
}

#yousok_layer {
    text-align: left;
    padding: 1rem;
}

#yousok_layer span {
    position: absolute;
    width: 10rem;
    top: 0.2rem;
    left: 35px;
}

#yousok_layer2 {
    text-align: left;
    padding: 1rem;
}

#yousok_layer2 span {
    position: absolute;
    width: 10rem;
    top: 0.2rem;
    left: 35px;
}

#yousok_layer3 {
    text-align: left;
    padding: 1rem;
}

#yousok_layer4 {
    text-align: left;
    padding: 1rem;
}

#yousok_layer4 span {
    position: absolute;
    width: 12rem;
    top: 0.2rem;
    left: 35px;
}

#yousok_layer5 {
    text-align: left;
    padding: 1rem;
}

#yousok_layer5 span {
    position: absolute;
    width: 12rem;
    top: 0.2rem;
    left: 35px;
}

.anw_yousok {
    margin: 0 auto;
    width: 31rem;
    padding: 1rem;
    height: 31rem;
    display: block;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    overflow-x: hidden;
    padding-left: 2rem;
    position: relative;
}

.anw_vulner {
    margin: 0 auto;
    width: 31rem;
    padding: 1rem;
    height: 400px;
    display: block;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    overflow-x: hidden;
    padding-left: 2rem;
    position: relative;
}

.anw_discharge{
    margin: 0 auto;
    width: 31rem;
    padding: 1rem;
    height: 300px;
    display: block;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    overflow-x: hidden;
    padding-left: 2rem;
    position: relative;
}
.anw_db {
    margin: 0 auto;
    width: 31rem;
    padding: 1rem;
    height: 31rem;
    display: block;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    overflow-x: hidden;
    padding-left: 2rem;
    position: relative;
}


.anw2 {
    margin: 0 auto;
    width: 31rem;
    padding: 1rem;
    height: 35rem;
    display: block;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    overflow-x: hidden;
    padding-left: 2rem;
    position: relative;
}

.layer_select {
    border: 1px solid #ccc;
    width: 26.5rem;
    line-height: 3.4rem;
    text-align: center;
    height: 3.4rem;
    background-color: #e1e2e3;
    font-size: 1.3rem;
    position: relative;
    cursor: pointer;
}

.que3 {
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 1.8rem;
    width: 31rem;
    height: 4rem;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    line-height: 4rem;
    cursor: pointer;
    background-color: #fff;
}

#sub_img_on0 {
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
}

#sub_img_off0 {
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
}

#sub_img_on1 {
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
}

#sub_img_off1 {
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
}

#sub_img_on2 {
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
}

#sub_img_off2 {
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
}

#sub_img_on3 {
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
}

#sub_img_off3 {
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
}

#sub_img_on4 {
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
}

#sub_img_off4 {
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
}

.anw3 {
    margin: 0 auto;
    width: 31rem;
    padding: 1rem;
    height: 140px;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    overflow-x: hidden;
    position: relative;
    padding-left: 2rem;
}

.img_on3 {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: block;
}

.img_off3 {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: none;
}

.nowZoomLevel {
    height: 6rem;
    padding: 1rem;
    border-top: 1px solid #ddd;
    background: #fff;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 9999;
    bottom: 6rem;
}

.nowZoomLevel div {
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 4rem;
    border: 1px solid #f56565;
    font-size: 1.4rem;
    line-height: 4rem;
    color: #f56565;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: -1px;
}


/* 
iframe {
    width: calc(100vw - 100px);
    height: calc(100vh - 60px);
    padding: 0;
    top: 0;
    left: 0;
} */

.clear {
    clear: both;
}

ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    vertical-align: top;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    letter-spacing: -1px;
    word-break: break-all;
    text-align: center;
}

.circle {
    background: #ff0000;
    width: 10px;
    height: 10px;
}

.circle2 {
    background: yellow;
    width: 10px;
    height: 10px;
}

.acodian_menu{
    border: 1px solid #000;
}


.part_1{
    display: block;
}

.part_2 {
    display: none;
}

.part_3 {
    display: none;
}

.part_4 {
    display: none;
}

.part_5 {
    display: none;
}

.datepicker{
    position: relative;
    z-index: 9999;
}

#ui-datepicker-div{
    width: 190px;
    font-size: 12px;
}

#mapbox {
    width: 100vw;
    height: calc(100vh - 6rem);
    transition: all 0.3s;
    position: absolute;
    z-index: 1;
}

#map {
    height: calc(100vh - 60px);
    width: 100vw;
}

input[type=range] {
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {

    width: 120px;
    height: 3px;
    cursor: pointer;
    border-radius: 1.3px;
    background-color: #0277bd;
    margin-top: 19px;
    margin-bottom: 15px;

}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 15px;
    width: 10px;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[id="a"] {
    position: relative;
    top: 4px;
}

input[id="b"] {
    position: relative;
    top: 2px;
}

#cate0{
    margin-top: 10px;
}

#cate1{
    margin-top: 10px;
}

#cate2{
    margin-top: 10px;
}

#cate3{
    margin-top: 10px;
}

#cate4{
    margin-top: 10px;
}

.cateTitle {
    font-size: 1.4rem;
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    width: 220px;
    height: 34px;
    background-color: #e1e2e3;
    padding: 0 0 0 9px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
}

.discharge_option{
    width: 265px;
    font-size: 13px;
    height: 30px;
    margin-top: 10px;
    text-align: left;
}

.discharge_btn{
    width: 265px;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    line-height: 3rem;
    border: 1px solid #0277bd;
    border-radius: 5px;
    background-color: #0277bd;
    cursor: pointer;
    margin-bottom: 2rem;
    height: 3.6rem;
}

.window_btn {
    height: 80px;
    padding:20px 20px 0 0;
    text-align: center;
}

.window_btn button {
    width: 200px;
    height: 34px;
    background-color: #fff;
    border: #d9d9d9 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.window_title {
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
    height: 45px;
    width: 100vw;
    /* position: fixed;
    background-color: #d9d9d9; */
    top: 0;
}

.window_body {
    /* margin-top: 65px !important; */
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 2px solid #000;
    color: #666;
}


.window_tabbox{
    font-size: 14px;
    margin-left: 10px;
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}

.window_tabbox .tab{
    border-top: 2px solid #000;
    border-right: 1px solid #000;
    height: 30px;
    line-height: 26px;
    text-align: center;
    width: calc(100% / 5);
    cursor: pointer;
    transition: all 0.3s;
}

.tab_on{
    background-color: #d9d9d9;
    color: #666;
}

.tab:hover{
    color: #666;
}


.detail_box{
    width: 90vw;
    margin: 0 auto !important;
    padding-top: 10px;
    height: 500px;
}

.window_flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#columnchart_values, #columnchart_values2, #columnchart_values3, #columnchart_values4{
    height: 100%;
    min-height: 300px;
}

#mi_chart_1, #mi_chart_2, #mi_chart_3, #mi_chart_4,#mi_chart_5,#mi_chart_6,#mi_chart_7,#mi_chart_8,#mi_chart_9,#mi_chart_10,#mi_chart_11,#mi_chart_12,#mi_chart_13,#mi_chart_14,#mi_chart_15{
    height: 100%;
    min-height: 300px;
}

#st_mi_chart_1, #st_mi_chart_2, #st_mi_chart_3, #st_mi_chart_4,#st_mi_chart_5,#st_mi_chart_6,#st_mi_chart_7,#st_mi_chart_8,#st_mi_chart_9,#st_mi_chart_10,#st_mi_chart_11,#st_mi_chart_12,#st_mi_chart_13,#st_mi_chart_14,#st_mi_chart_15{
    height: 100%;
    min-height: 300px;
}
.suon_chart{
    width: calc(100% / 2);
    height: 100%;
    min-height: 300px;
    padding-left: 10px;
}

.window_flex_water{
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
}

#hwi_chart{
    height: 100%;
    min-height: 400px;
}

#hwi_chart2{
    height: 100%;
    min-height: 400px;
}

#etc_chart1 , #etc_chart2 , #etc_chart3 , #st_etc_chart1, #st_etc_chart2, #st_etc_chart3{
    height: 100%;
    min-height: 400px;
}

#water_chart{
    height: 100%;
    min-height: 400px;
}

#water_chart2{
    height: 100%;
    min-height: 400px;
}


.window_flex_etc{
    flex-wrap: wrap;
}

.tab_table{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}


.tab_1{
    display: block;
}

.tab_2{
    display: none;
}

.tab_3{
    display: none;
}

.tab_4{
    display: none;
}

.tab_5{
    display: none;
}


.frame_innerbox{
    width: calc(100% / 2);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.popup_title{
    height: 105px;
    margin-top: 10px;
}
.popup_text{
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup_img{
    width: 95%;
    height: 180px;
    margin-top: 10px;
}

.link{
    font-size: 12px;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #0277bd;
}

.popup_text{
    width: 100%;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    width: 400px;
    height: 200px;
    display: flex;
}



/* @media only screen and (max-width:1920px) {

    html {
        font-size: 50%;
    }
} */