@charset "utf-8";

/* 웹폰트 적용 */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset style [start] */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code, href
del, dfn, em, font, img, ins, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; } /* vertical-align: baseline; outline: 0;  */

body { line-height:1.5em; font-size:12px; color:#777; font-family: Tahoma, Dotum;}
ol, ul, li { list-style:none;}
blockquote, q { quotes:none;}

ins { text-decoration:none;}
del { text-decoration:line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table { border-spacing:0; border-collapse: collapse;}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;} /*  */
legend { display:block; overflow:hidden; position:absolute;left:0; top:-5000px; visibility:hidden; height:0; width:0; font-size:0;}
fieldset { border:0 none;}
caption { visibility:hidden; height:1px; width:1px; font-size:0; line-height: 0; left: -999999em; text-indent: -99999px;}

select, input { vertical-align: middle; border: 1px solid #aaa;}
/* reset style [end] 

input[type=text]:focus { border: 1px solid #d6d6d6;}
input[type=password]:focus { border: 1px solid #d6d6d6;}
input,textarea,select { font-size:12px; color:#777;  border: 1px solid #d6d6d6;}*/

img { vertical-align: middle;}
.clear { clear:both;}
/*label { position: absolute; left: -999999em; width: 1px; height: 1px; font-size: 0; line-height: 0; text-indent: -99999px;}*/



/********************************************************************************************************************************************/

/* rayout */

/*html { background-color: #333; }*/ /*20200922 이전 코드 cuber */
html { background-color: #eeeeee; }
html,body {height: 100%;}

/* 공통 영역 */
/*#wrap       					{ width: 905; min-width: 905; max-width: 905; height: 100%; background-color: #fff}*/ /* 20200922 이전 코드 cuber */
#wrap       					{ width: 905; min-width: 905; max-width: 905; height: 100%; background-color: #eeeeee}

/* 로그인 영역 */
.login_area 					{ padding-top:115px; min-width: 700px; background:url(/images/web/bg.jpg) repeat-x center top;}
.login_area .title				{ height: 150px; text-align: center;}
.login_box						{ margin: 0 auto; width: 538px; height: 120px; background:url(/images/web/bg_grad.png) no-repeat center bottom;}
.login_box dl					{ margin: 0 auto; width: 350px;}
.login_box dt					{ display: inline-block; float: left; padding: 5px 0 0 0; width: 70px; }
.login_box dd					{ }
.login_box dd input.text		{ margin-bottom: 2px; padding: 5px 8px 7px; width:180px; border: 0; vertical-align: bottom; background:url(/images/web/input_bg.png) no-repeat left top; background-color: transparent;}
.login_box dd p					{ display: none; padding-left: 67px; font: normal 11px "Dotum"; color: #fff; letter-spacing: -1px;}
.login_box dd p	input			{ border: none;}
.login_box dd.btn				{ margin-top: -60px; float: right;}
.info							{ padding-top: 8px; height: 110px; font: normal 13px "Nanum Gothic"; text-align: center; color: #c5c9d0;}
.info strong					{ font: bold 14px "Nanum Gothic"; color: #fff;}
.info span						{ display: block; padding-top: 15px;}
.copy							{ padding: 10px 0 0; height: 30px; font: bold 11px "Nanum Gothic"; color: #505564; text-align: center;}



/* 헤더 영역 */
#header							{ position: relative; overflow: hidden; height: 75px; background:url(/images/web/common/top_bg.gif) repeat-x left top;}
#header .logo_2 { position: absolute; top: 0; left: 55px;} 
#header h1 { position: absolute; top: 25px; left: 0; padding: 5px 0 0 7px; width: 245px; height: 45px; background:url(/images/web/common/top_line.gif) repeat-y right top;} 
#header	.box					{ position: relative; color: #6f6f72;}
#header	.box .util				{ position: absolute; top: 0; right: 25px;}
#header	.box .util span			{ display: inline-block; margin-right: 15px; font: normal 11px "Dotum"; color: #dedede;}
#header	.box .util span strong	{ font-weight: bold; color: #fff;}
#header	.box .util a			{ font: normal 11px "Tahoma"; color: #a09c9d; text-decoration: none;}
#header	.box .util a:hover		{ color: #e59b40;}
#header	.box .login	 			{ position: absolute; top: 30px; right: 25px;}

/* 상단메뉴 영역 */
#gnb							{ position: absolute; top: 30px; margin-left: 280px; width: 100%; background:url(/images/web/common/menu_bg.gif) repeat-x left top;}
#gnb ul:after 					{ content:""; display:block; clear:both;}
#gnb li							{ float: left;}



/* 좌측메뉴 영역 */
/*.left							{ position: absolute; top: 0; left: 0; width: 250px; height: 835px; z-index: 100; border-right: 1px solid #2c3344;}*/
.left							{ position: absolute; top: 0; left: 0; width: 250px;  z-index: 100; border-right: 1px solid #2c3344;}
.menu							{ width: 240px; height: 1000px; border: 5px solid #adadad;}
.menu .tel_info					{ }
.menu .tel_info li.tit			{ margin-bottom: 9px; padding: 8px 0 0 15px; height: 22px; border-top: 1px solid #adadad; border-bottom: 1px solid #e1e1e1; background-color: #f2f2f2;}
.menu .tel_info li.tit strong	{ padding-left: 10px; font: bold 13px "Dotum"; color: #1f232a; background:url(/images/web/common/bullet_green.gif) no-repeat left center;}
.menu .tel_info li				{ position: relative; padding-left: 55px; font: normal 12px "Dotum"; line-height: 19px;}
.menu .tel_info li.tel			{ color: #fa5807;}
.menu .tel_info li.area			{ padding-right: 5px; padding-bottom: 10px; font: normal 11px "Dotum"; line-height: 19px;}
.menu .tel_info li span			{ position: absolute; top: 3px; left: 15px; font: normal 12px "Dotum"; color: #666; }
.menu .tel_info li span strong	{ display: inline-block; width: 30px;}

.menu .menu_list_select			{ padding: 7px 10px; border-bottom: 1px solid #2c3344; background-color: #eaeaea;}
.menu .menu_list_select select	{ width: 100%; border: 1px solid #acacac;}

.menu .menu_list				{ margin: 10px 0 0 10px; padding: 7px; width: 205px; font: normal 11px "Dotum"; border: 1px solid #d7d7d7; background-color: #f2f2f2;}	
.menu .menu_list li a			{ display: block; margin-bottom: 2px; padding: 8px 0 6px 20px; text-decoration: none; color: #4b4f57; background:url(/images/web/common/bullet_menu_off.gif) no-repeat 10px 9px;}
.menu .menu_list li a:hover		{ font-weight: bold; color: #333; background:url(/images/web/common/bullet_menu_on.gif) no-repeat 10px 9px; background-color: #fff;}
.menu .menu_list li a.on		{ font-weight: bold; color: #333; background:url(/images/web/common/bullet_menu_on.gif) no-repeat 10px 9px; background-color: #fff;}

.menu .btn 						{ padding-top: 10px; text-align:center !important; }


/* 컨텐츠 공통 영역 */
#contents						{ position: relative; overflow: hidden;}
/*#contents .cont_box				{ padding-left: 280px; height: 835px; overflow-y: auto;}*//*20200922 이전 코드 cuber */
#contents .cont_box				{  overflow-y: auto;}
/*#contents .cont_box_new				{ padding-left:40px; padding-right:280px; height: 835px; overflow-y: auto;}*/ /*20200922 이전 코드 cuber */
#contents .cont_box_new				{  height: 100%; overflow-y: auto;}
/*#contents .cont					{ padding: 35px 25px 0 0; min-height: 400px;}*/ /* 20200922 이전 코드 cuber */
#contents .cont					{ padding:0; min-height: 400px;}
#contents .cont h2				{ margin-bottom: 20px; padding-left: 15px; font: bold 16px "Nanum Gothic"; color: #555; letter-spacing: -0.5px; background:url(/images/web/common/bullet_square.gif) no-repeat left center;}
#contents .cont h3				{ padding-left: 15px; font: bold 14px "Dotum"; color: #555; letter-spacing: -0.5px; background:url(/images/web/common/bullet_circle.gif) no-repeat left center;}

/*#contents .cont_box3				{ padding-left: 280px; height: 590px; overflow-y: auto;}*/
#contents .cont_box3				{ padding-left:40px; padding-right:280px; height: 590px; overflow-y: auto;}
#contents .cont3					{ padding: 35px 25px 0 0; min-height: 400px;}
#contents .cont3 h2				{ margin-bottom: 20px; padding-left: 15px; font: bold 16px "Nanum Gothic"; color: #555; letter-spacing: -0.5px; background:url(/images/web/common/bullet_square.gif) no-repeat left center;}
#contents .cont3 h3				{ padding-left: 15px; font: bold 14px "Dotum"; color: #555; letter-spacing: -0.5px; background:url(/images/web/common/bullet_circle.gif) no-repeat left center;}

/*#contents .cont_box2			{ padding-left: 280px; height: 245px; overflow-y: hidden;}*/
/*#contents .cont_box2			{ padding-left:40px; padding-right:280px; height: 245px; overflow-y: hidden;}*/ /* 20200922 이전 코드 cuber */
#contents .cont_box2			{  height: 245px; overflow-y: hidden;}
/*#contents .cont2				{ padding: 35px 25px 0 0; min-height: 400px;}*/ /*20200922 이전 코드 cuber */
#contents .cont2				{ padding: 0; min-height: 400px;}
#contents .cont2 h2				{ margin-bottom: 20px; padding-left: 15px; font: bold 16px "Nanum Gothic"; color: #555; letter-spacing: -0.5px; background:url(/images/web/common/bullet_square.gif) no-repeat left center;}
#contents .cont2 h3				{ padding-left: 15px; font: bold 14px "Dotum"; color: #555; letter-spacing: -0.5px; background:url(/images/web/common/bullet_circle.gif) no-repeat left center;}




/* 조회 영역 */
.enter_form						{ position: relative;}
.enter_form	.tab				{ border-bottom: 3px solid #4a5567;}
.enter_form	.tab a				{ display: inline-block; margin-right: -3px; padding: 10px 7px 0 0; width: 185px; height: 20px; font: bold 12px "Dotum"; color: #777; text-align: center; letter-spacing:-1px; text-decoration: none; background:url(/images/web/common/tab_off.gif) no-repeat left top;}
.enter_form	.tab a:hover		{ color: #222; text-align: center; text-decoration: none; background:url(/images/web/common/tab_on.gif) no-repeat left top;}
.enter_form	.tab a.on			{ color: #222; text-align: center; text-decoration: none; background:url(/images/web/common/tab_on.gif) no-repeat left top;}
.inquiry_box					{ margin-bottom: 10px; padding: 15px 20px; border: 1px solid #d7d7d7; background-color: #f2f2f2;}
.inquiry						{ width: 100%;}
.inquiry th						{ padding: 1px 0; width: 80px; font: normal 11px "Dotum"; color: #515f78; text-align: left;}
.inquiry th p					{ padding: 0 0 0 8px; vertical-align: middle; background:url(/images/web/common/bullet_blue.gif) no-repeat left center;}
.inquiry td						{ padding: 3px 0; vertical-align: middle;}
.inquiry td select				{ width: 160px; height: 20px; font: normal 11px "Dotum"; color: #555; border: 1px solid #ccc;}
.inquiry td input				{ width: 158px; height: 17px; font: normal 11px "Dotum"; color: #555; border: 1px solid #ccc;}
.inquiry td input.input2		{ width: 208px;}
.inquiry td label				{ position: absolute; left: -999999em; width: 1px; height: 1px; font-size: 0; line-height: 0; text-indent: -99999px;}
.inquiry td label.open			{ position: relative !important; left: 0 !important; width: auto !important; height: auto !important; font: normal 11px "Dotum" !important; line-height:inherit !important; text-indent: 0 !important;}
.inquiry td label.text_12		{ font-size: 12px !important;}
.inquiry td label span			{ color: #e52225;}
.inquiry td input.check1		{ width: auto !important; border: none; vertical-align: middle;}
.inquiry td input.w_1			{ width: 200px;}
.inquiry td input.w_2			{ width: 100px;}
.inquiry td p					{ padding-bottom: 2px;}
.inquiry td .btn_inquiry		{ width: 38px; height: 20px; border: none;}
.inquiry td.right				{ text-align: right;}




/* 게시판 리스트 영역 */

#contents .result_no			{ margin-top: -10px; height: 20px; font: normal 11px "Dotum"; color: #666; text-align: right;}
#contents .result_no span		{ display: inline-block; padding: 0 0 0 8px; background:url(/images/web/common/bullet_blue_dot.gif) no-repeat left center;}
#contents .result_no select		{ font: normal 11px "Dotum"; color: #555; line-height: 20px; border: 1px solid #ccc;}


.board_area						{ }

.board_list						{ margin-bottom: 20px; width: 100%; font: normal 11px "Dotum"; color: #555; text-align: center;}
.board_list thead th			{ height: 34px; font-weight: bold; color: #fff; vertical-align: middle; border-top: 1px solid #555; border-left: 1px solid #737a87;  background-color: #4a5567;}
.board_list thead td.term		{ height: 4px; line-height: 1px; border-bottom: 1px solid #d7d7d7; background-color: #fff;}


.board_list tbody tr:hover		{ background-color: #ecf7fb;}
.board_list tbody td			{ height: 30px; vertical-align: middle; border-left: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;}
.board_list tbody td a			{ color: #555; text-decoration: none;}
.board_list tbody td a:hover	{ text-decoration: underline;}
.board_list tbody td.address	{ padding-left: 15px; text-align: left;}

.board_list tfoot td			{ padding: 10px 3px 8px; vertical-align: middle; border-right: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; background-color: #f2f2f2;}


.board_list2					{ margin-bottom: 20px; width: 100%; font: normal 12px "Dotum"; color: #666; text-align: center; border-top: 1px solid #d7d7d7;}
.board_list2 label 				{ position: absolute; left: -999999em; width: 1px; height: 1px; font-size: 0; line-height: 0; text-indent: -99999px;}
.board_list2 .bd_none			{ border: none;}
.board_list2 thead th			{ height: 35px; font-weight: bold; vertical-align: middle; background-color: #efeff0;}
.board_list2 tbody td			{ padding: 8px 3px 6px; font: normal 11px "Tahoma"; vertical-align: middle; border-bottom: 1px solid #d7d7d7;}
.board_list2 tbody td.subject	{ padding-left: 20px; text-align: left;}
.board_list2 tbody td.subject a { font: normal 12px "Dotum"; color: #555; text-decoration: none;}
.board_list2 tbody td.subject a:hover { color: #333; text-decoration: underline;}
.board_list2 tbody tr:hover		{ background-color: #ecf7fb;}
.board_list2 tbody td .open		{ position: relative !important; left: 0 !important; width: auto !important; height: auto !important; font: normal 11px "Dotum" !important; line-height:inherit !important; text-indent: 0 !important;}


.board_list_3					{ margin-bottom: 8px; width: 100%; font: normal 12px "Dotum"; color: #666; text-align: center; border-top: 3px solid #4a5567;}
.board_list_3 thead th			{ height: 40px; font-weight: bold; color: #4a5567; vertical-align: middle;}
.board_list_3 thead th.last		{ border-right: none;}
.board_list_3 tbody tr:hover	{ background-color: #f6f9f5;}
.board_list_3 tbody td			{ vertical-align: middle; border-right: 1px solid #fff; border-bottom: 1px solid #fff;}
.board_list_3 tbody td.bg_grey 	{ font: normal 11px "Tahoma"; color: #fff; background-color: #909090;}
.board_list_3 tbody td p		{ padding: 12px 3px 10px; border: 1px solid #dcdcdc;}
.board_list_3 tbody td p.subject		 { padding-left: 20px; text-align: left;}
.board_list_3 tbody td p.subject a 		 { font: normal 12px "Dotum"; color: #555; text-decoration: none;}
.board_list_3 tbody td p.subject a:hover { color: #ee5526; text-decoration: underline;}
.board_list_3 tbody td p.data			 { color: #777;}
.board_list_3 tbody td p.list_answer 	 { padding-left: 40px; text-align: left; color: #555; text-decoration: none;}
.board_list_3 tbody td p.answer  		 { padding-left: 25px; text-align: left; }
.board_list_3 tbody td p.answer a 		 { padding-left: 20px; color: #555; text-decoration: none; background:url(/images/web/btn/icon_answer.gif) no-repeat left center;}
.board_list_3 tbody td p.list_answer img { display: inline-block; padding-right: 6px;}
.board_list_3 tbody td.list_none 		 { padding: 100px 0; font: normal 13px "Dotum"; color: #888;}



	
	/* 페이징 영역 */
	.page_list					{ text-align: center; font: normal 12px "Tahoma";}
	.page_list span				{ display: inline-block; font: normal 12px "Tahoma"; color: #ed2326; vertical-align: middle;}
	.page_list span.on			{ display: inline-block; margin: 0 2px; padding: 3px 7px 4px; font: bold 11px "Tahoma"; color: #fff; background-color: #5c5c5c;}
	.page_list a				{ display: inline-block; padding: 3px 7px; text-decoration: none !important; color: #666;}
	.page_list a img			{ vertical-align: middle;}
	.page_list a.list_btn		{ padding: 0 5px; line-height: 10px;}
	
	
	/* 버튼 영역 */
	.btn						{ position: relative; margin-bottom: 20px; text-align: right;}
	.btn .left					{ position: absolute; left: 0;}
	.btn_center					{ text-align: center;}
	.btn_list					{ padding-top: 20px; width: 100%; text-align: center;}
	
	/* 검색 영역 */
	.search_area				{ margin-bottom: 5px; text-align: right;}
	.search_area select			{ height: 20px; border: 1px solid #ccc;}
	.search_area input.btn		{ margin-bottom: -2px; border: none; vertical-align: middle;}
	.search_area .input_txt		{ width: 200px; border: 1px solid #ccc;}
	.search_area label			{ position: absolute; left: -999999em; width: 1px; height: 1px; font-size: 0; line-height: 0; text-indent: -99999px;}
	
	
/* 게시판 상세보기 영역 */

.total							{ height: 20px; font: bold 11px "Tahoma"; color: #777; text-align: right;}
.total strong					{ font: bold 12px "Tahoma"; color: #ff0000;}

.view							{ margin-bottom: 8px; width: 100%; font: normal 12px "Dotum"; color: #666;}
.view th						{ width: 15%; font-weight: bold; color: #fff; vertical-align: middle; border-right: 1px solid #fff; border-bottom: 1px solid #fff; background-color: #909090; }
.view th span					{ display: inline-block; padding-left: 3px; color: #c52e00;}
.view td						{ vertical-align: middle; border-right: 1px solid #fff; border-bottom: 1px solid #fff;}
.view td p						{ padding: 12px 3px 10px 15px; border: 1px solid #dcdcdc;}
.view tbody td .cont_text		{ overflow-y: scroll; padding: 25px; height: 300px; border: 1px solid #dcdcdc;}

.view_top						{ position: relative; padding-top: 10px; height: 20px; font: normal 11px "Tahoma"; color: #555;}
.view_top .hit					{ position: absolute; right: 0;}
.view_top .hit strong			{ font: bold 11px "Tahoma"; color: #fd5409;}
.view_top strong				{ font: bold 11px "Tahoma";}

.writing_list					{ border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.writing_list ul 				{ }
.writing_list li				{ padding: 7px 0 6px 15px; font: normal 12px "Dotum"; border-bottom: 1px dotted #ccc;}
.writing_list li span			{ display: inline-block; width: 70px; font-weight: bold; text-align: left; background:url(/images/web/board/bar.gif) no-repeat right center;}
.writing_list li a				{ display: inline-block; margin-left: 20px; color: #777; text-decoration: none;}
.writing_list li a:hover		{ text-decoration: underline;}
.writing_list li.last			{ border-bottom: none;}



/* 게시판 글쓰기 영역 */
.write_box						{ }

.pop_title_2					{ padding: 10px 0 5px 0; font: bold 12px "Dotum"; color: #333;}
.pop_title_3					{ font: normal 11px "Dotum"; color: #666; text-align: right;}
.pop_title_3 span 				{ color: #c52e00;}
.pop_info						{ margin-top: -10px; font: normal 11px "Dotum"; color: #666;}
.pop_info span 					{ color: #c52e00;}

.write							{ margin-bottom: 15px; width: 100%; width: 100%; font: normal 12px "Dotum"; color: #666;}
.write th						{ min-width: 85px; font-weight: bold; color: #fff; vertical-align: middle; border-right: 1px solid #fff; border-bottom: 1px solid #fff; background-color: #909090; }
.write th span					{ display: inline-block; padding-left: 3px; color: #c52e00;}
.write th strong				{ display: block; padding-top: 7px; font-size: 11px;}
.write td						{ vertical-align: middle; border-right: 1px solid #fff; border-bottom: 1px solid #fff;}
.write td.add_file				{}
.write td.add_file .file .b_n	{ width: 600px; border: none;}
.write td p						{ padding: 5px; border: 1px solid #dcdcdc;}
.write td p.add_line			{ margin-bottom: 1px;}
.write td p input				{ padding: 3px 0 0 5px; border: none; background-color: #e1e1e1;}
.write td p input.btn_address	{ background: none !important;}
.write td p .w_1				{ width: 80%;}
.write td p .w_2				{ width: 91.5%;}
.write td p .w_3				{ width: 20%;}
.write td p .w_4				{ width: 30%;}
.write td p .w_5				{ width: 40%;}
.write td p .w_6				{ width: 98%;}
.write tbody td .cont_text			{ overflow-x: hidden; overflow-y: auto; padding: 25px; border: 1px solid #dcdcdc;}
.write tbody td .cont_text textarea	{ width: 100%; height: 280px; font: normal 12px "Dotum"; color: #666; border: none; background-color: #e1e1e1;}
.write tbody td span			{ font: normal 11px "Dotum"; color: #fd5409;}
.write tbody td strong			{ color: #c52e00;}
.write tbody td a				{ color: #333;}	

.write tbody td textarea,	
.write tbody td input			{ font: normal 12px "Dotum"; color: #555;}



/* 그룹관리 영역 */

.manage_list					{ width: 100%; text-align: center;}
.manage_list th					{ vertical-align: middle;}
.manage_list th	a				{ display: block; margin-bottom: 5px;}
.manage_list td					{ vertical-align: top; border-top: 2px solid #7b7b7b; border-bottom: 2px solid #7b7b7b; border-left: 2px solid #d5d5d5; border-right: 2px solid #d5d5d5;}
.manage_list td	p.title			{ margin-bottom: 15px; padding: 10px 0; font: bold 12px "Dotum"; color: #444; border-bottom: 1px solid #d5d5d5; border-bottom: 1px solid #d4d4d4; background:url(/images/web/th_bg_line.gif) repeat left top; background-color: #ebf1fe;}
.manage_list td li				{ padding-bottom: 15px;}
.manage_list td li input		{ border: none;}


/* 시험정보설정 영역 */
.info_set						{ width: 100%; }
.info_set td					{ border-bottom: 2px solid #7b7b7b; vertical-align: top;}
.info_set td h4					{ padding-bottom: 10px; padding-left: 10px; background:url(/images/web/bullet_h4.gif) no-repeat 0 3px; background-color: #fff;}
.info_set td.bg_color			{ background-color: #ebf1fe;}

.info_list						{ margin-bottom: 10px; width: 100%; font: normal 12px "Dotum"; color: #555; text-align: center; border-top: 2px solid #0f71f5;}
.info_list tbody th				{ padding: 12px 0 10px; font: bold 12px "Dotum"; color: #444; vertical-align: middle; border-bottom: 1px solid #d5d5d5; border-bottom: 1px solid #d4d4d4; background:url(/images/web/th_bg_line.gif) repeat left top; background-color: #ebf1fe;}
.info_list tbody td				{ padding: 10px 3px 8px 30px; min-height: 16px; text-align: left; vertical-align: middle; border-bottom: 1px solid #d5d5d5;}
.info_list tbody td input		{ padding: 1px 5px;}

.info_list strong				{ display: block; padding-bottom: 10px; font-weight: bold;}
.info_list li					{ padding-top: 5px;}
.info_list li a					{ display: inline-block; margin-right: 10px;}
.bottom_border_none				{ border-bottom: none !important;}


.map_set						{ padding: 0 20px 20px; border-top: 2px solid #0f71f5;}
.map_set dl						{ margin-top: 20px;}
.map_set dt						{ padding-left: 7px; color: #555; font-weight: bold; background:url(/images/web/bullet_blue.gif) no-repeat left center;}
.map_set dd						{ padding-top: 5px; color: #666;}
.map_set dd	select				{ width: 150px; border: 1px solid #aaa; vertical-align: middle;}
.map_set dd	input				{ vertical-align: middle;}
.map_set dd label				{ vertical-align: middle;}
.map_set dd p input				{ border: none !important;}
.map_set dd .screen				{ position: relative;}
.map_set dd .screen .img_area	{ position: absolute; top: 3px; right:0; width: 180px; height: 113px;}
.map_set dd .screen .img_area img{ width: 180px; height: 113px; border: 1px solid #555;}

.color_info						{}
.color_info span				{ display: block; position: relative; margin-bottom: 5px;}
.color_info span select			{ position: absolute; top: -2px; right: 0; width: 100px;}


/* 통계 영역 */

.chart_area						{ padding: 10px 0; border-top: 2px solid #d4d4d4;}
.chart_area p.title				{ padding: 15px 0; width: 100%; font: bold 14px "Dotum"; color: #444; text-align: center; background-color: #d4d4d4;}
.chart_area .chart				{ min-height: 300px; border: 1px solid #d4d4d4;}




/* 푸터 영역 */
#footer							{ padding: 5px 0; width: 100%; text-align: center; font: bold 12px "Nanum Gothic"; color: #7f8691; background-color: #243045; z-index: 2000;}




/* 기본값 설정 */

.h_30 { height: 30px;}

.w_60 { width: 60px !important;}
.w_150 { width: 150px;}
.w_300 { width: 300px;}
.w_percent_100 { width: 100%;}
.w_percent_90 { width: 90%;}
.w_percent_80 { width: 80%;}
.w_percent_70 { width: 70%;}
.w_percent_65 { width: 65%;}
.w_percent_60 { width: 60%;}
.w_percent_50 { width: 50%;}
.w_percent_45 { width: 45%;}

